In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('data/car_details.csv', usecols=['name', 'seller_type', 'transmission', 'owner', 'fuel'])
df

,name,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,Petrol,Individual,Manual,First Owner

In [9]:
df = df.drop('name', axis=1)
df

        fuel seller_type transmission         owner
0     Petrol  Individual       Manual   First Owner
1     Petrol  Individual       Manual   First Owner
2     Diesel  Individual       Manual   First Owner
3     Petrol  Individual       Manual   First Owner
4     Diesel  Individual       Manual  Second Owner
...      ...         ...          ...           ...
4335  Diesel  Individual       Manual  Second Owner
4336  Diesel  Individual       Manual  Second Owner
4337  Petrol  Individual       Manual  Second Owner
4338  Diesel  Individual       Manual   First Owner
4339  Petrol  Individual       Manual   First Owner

[4340 rows x 4 columns]

# Train Test Split

### first split before applying label encoder

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = df.drop('fuel', axis=1)
y =df['fuel']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### importing LabelEncoder and OrdinalEncoder

In [18]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

### 1. Applying Lable Encoder

In [20]:
le = LabelEncoder()

In [21]:
y_train_scaled = le.fit_transform(y_train)
y_test_scaled = le.fit_transform(y_test)

In [23]:
y_train_scaled

array([1, 1, 4, ..., 1, 1, 4])

In [26]:
X_train

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner
1025  Individual       Manual   First Owner
4242      Dealer       Manual   First Owner
...          ...          ...           ...
3444  Individual       Manual   First Owner
466   Individual       Manual   First Owner
3092      Dealer       Manual   First Owner
3772  Individual       Manual   First Owner
860   Individual       Manual   First Owner

[3472 rows x 3 columns]

In [28]:
oe = OrdinalEncoder()

X_train_scaled = oe.fit_transform(X_train)
X_test_scaled = oe.fit_transform(X_test)

In [29]:
X_train_scaled

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]])