In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# loading a data
df = pd.read_csv('data/social_network_ad.csv')

In [6]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
df.shape

(400, 5)

In [11]:
df.drop('User ID', axis=1, inplace=True)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [12]:
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

# Train Test Split

In [13]:
from sklearn.model_selection import train_test_split

In [16]:
X = df.drop('Purchased', axis=1)
y = df['Purchased']

In [17]:
X

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [18]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
X_train.shape

(320, 3)

In [24]:
y_train.shape

(320,)

# Applying StandarScaler

In [25]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [26]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [27]:
X_train_scaled

array([[-1.        , -1.06675246, -0.38634438],
       [ 1.        ,  0.79753468, -1.22993871],
       [-1.        ,  0.11069205,  1.853544  ],
       [-1.        ,  0.60129393, -0.90995465],
       [-1.        ,  1.87685881, -1.28811763],
       [ 1.        , -0.57615058,  1.44629156],
       [ 1.        ,  0.3069328 , -0.53179168],
       [ 1.        ,  0.99377543,  0.10817643],
       [ 1.        , -1.16487283,  0.45724994],
       [ 1.        , -1.55735433,  0.31180264],
       [ 1.        ,  1.0918958 ,  0.45724994],
       [-1.        , -0.18366908, -0.47361276],
       [ 1.        ,  0.20881242, -0.32816546],
       [-1.        ,  0.3069328 ,  0.28271318],
       [ 1.        , -1.16487283, -1.57901222],
       [-1.        ,  0.11069205,  0.25362372],
       [ 1.        ,  2.07309956,  1.73718616],
       [ 1.        ,  0.40505317, -0.18271817],
       [-1.        ,  1.4843773 ,  2.11534913],
       [ 1.        , -0.37990983,  1.21357589],
       [-1.        ,  1.87685881,  1.50447048],
       [-1.        ,  0.11069205,  0.02090805],
       [ 1.        ,  0.89565505, -1.31720709],
       [ 1.        , -1.36111358, -1.49174384],
       [-1.        , -0.18366908, -0.5899706 ],
       [-1.        , -0.57615058,  2.31897535],
       [-1.        ,  0.99377543, -1.20084925],
       [ 1.        , -0.77239133,  1.06812859],
       [ 1.        ,  2.17121993, -1.05540195],
       [ 1.        ,  0.01257167, -0.26998655],
       [ 1.        , -0.4780302 , -1.14267033],
       [ 1.        ,  0.11069205,  0.02090805],
       [ 1.        ,  1.68061805, -0.90995465],
       [-1.        ,  1.0918958 , -0.90995465],
       [-1.        ,  0.50317355,  1.21357589],
       [ 1.        , -1.06675246, -1.46265438],
       [-1.        , -1.16487283, -1.54992276],
       [-1.        , -0.0855487 ,  0.66087616],
       [ 1.        ,  0.40505317, -0.47361276],
       [ 1.        , -0.28178945, -0.26998655],
       [ 1.        , -0.87051171,  0.13726589],
       [-1.        ,  0.01257167,  0.28271318],
       [ 1.        ,  0.6994143 , -1.28811763],
       [-1.        ,  1.58249768,  1.09721805],
       [ 1.        ,  0.79753468, -1.37538601],
       [-1.        , -1.45923396, -1.22993871],
       [ 1.        , -0.0855487 ,  0.13726589],
       [ 1.        ,  0.40505317, -0.15362871],
       [-1.        , -0.28178945,  0.02090805],
       [-1.        ,  1.28813655,  2.20261751],
       [ 1.        ,  0.11069205,  0.74814454],
       [-1.        , -1.36111358,  0.54451832],
       [-1.        ,  1.97497918,  0.71905508],
       [ 1.        , -1.26299321, -1.40447546],
       [ 1.        ,  0.3069328 , -0.32816546],
       [ 1.        , -0.96863208,  0.54451832],
       [-1.        ,  0.40505317,  0.28271318],
       [-1.        ,  0.40505317,  1.09721805],
       [-1.        ,  0.79753468,  0.74814454],
       [-1.        ,  0.89565505,  1.24266535],
       [-1.        , -0.4780302 , -1.22993871],
       [ 1.        , -1.85171546, -1.31720709],
       [ 1.        ,  1.0918958 ,  0.54451832],
       [-1.        , -0.67427095, -1.60810168],
       [-1.        , -0.77239133,  0.25362372],
       [ 1.        ,  0.99377543,  2.05717021],
       [-1.        , -0.57615058,  1.35902318],
       [-1.        , -0.0855487 ,  0.02090805],
       [-1.        , -1.94983583,  0.45724994],
       [-1.        ,  0.40505317,  0.25362372],
       [-1.        , -1.06675246,  0.39907102],
       [ 1.        ,  0.20881242, -0.15362871],
       [ 1.        ,  1.87685881,  0.10817643],
       [-1.        , -1.16487283, -1.60810168],
       [-1.        , -1.16487283,  0.28271318],
       [ 1.        , -0.87051171, -0.79359682],
       [-1.        , -0.4780302 ,  2.28988589],
       [ 1.        ,  0.11069205, -0.82268628],
       [-1.        ,  1.58249768,  0.98086021],
       [ 1.        , -0.18366908, -1.08449141],
       [-1.        ,  0.79753468, -1.11358087],
       [-1.        ,  0.20881242,  2.08625967],
       [-1.        , -0.0855487 , -0.24089709],
       [ 1.        , -0.87051171,  2.26079643],
       [-1.        , -0.0855487 , -0.38634438],
       [ 1.        , -0.28178945, -0.5899706 ],
       [-1.        ,  0.40505317, -0.50270222],
       [ 1.        , -0.28178945, -0.93904411],
       [-1.        ,  0.3069328 , -1.17175979],
       [-1.        ,  0.20881242,  0.04999751],
       [ 1.        , -1.16487283, -1.60810168],
       [-1.        , -0.67427095, -0.06636033],
       [ 1.        , -0.28178945, -0.50270222],
       [-1.        , -0.28178945, -1.31720709],
       [ 1.        , -0.77239133,  0.54451832],
       [ 1.        ,  0.3069328 ,  0.04999751],
       [ 1.        , -0.96863208,  1.53355994],
       [-1.        ,  0.79753468,  0.3408921 ],
       [-1.        , -1.55735433, -0.21180763],
       [-1.        ,  0.6994143 , -1.40447546],
       [ 1.        , -0.77239133, -0.61906006],
       [-1.        , -0.37990983, -1.31720709],
       [-1.        ,  0.20881242,  0.13726589],
       [-1.        , -0.57615058,  1.35902318],
       [-1.        , -1.45923396,  0.3408921 ],
       [ 1.        , -1.16487283,  0.28271318],
       [-1.        ,  0.99377543,  1.76627562],
       [ 1.        ,  2.07309956,  2.11534913],
       [ 1.        , -0.28178945, -0.4445233 ],
       [ 1.        , -0.37990983, -0.79359682],
       [-1.        ,  0.11069205, -0.26998655],
       [-1.        , -1.06675246,  0.74814454],
       [ 1.        ,  2.17121993,  0.36998156],
       [ 1.        , -1.36111358, -0.4445233 ],
       [ 1.        ,  1.97497918,  2.14443859],
       [-1.        ,  1.4843773 ,  0.98086021],
       [ 1.        , -0.28178945,  0.25362372],
       [ 1.        , -0.18366908,  0.83541291],
       [ 1.        ,  1.87685881, -0.29907601],
       [-1.        , -0.0855487 ,  1.94081237],
       [ 1.        , -0.4780302 , -0.79359682],
       [-1.        ,  0.3069328 ,  0.02090805],
       [-1.        ,  1.38625693, -1.43356492],
       [ 1.        ,  1.38625693,  2.31897535],
       [ 1.        , -0.0855487 , -0.00818141],
       [-1.        , -1.16487283,  0.39907102],
       [-1.        , -1.16487283,  0.04999751],
       [-1.        , -1.16487283, -0.53179168],
       [-1.        ,  0.3069328 , -0.29907601],
       [ 1.        , -0.67427095, -0.12453925],
       [ 1.        , -0.0855487 ,  2.14443859],
       [ 1.        ,  0.01257167, -0.26998655],
       [-1.        , -0.67427095, -1.05540195],
       [-1.        ,  0.40505317,  0.13726589],
       [ 1.        ,  0.79753468,  1.35902318],
       [ 1.        , -0.18366908, -0.53179168],
       [ 1.        ,  0.01257167,  0.02090805],
       [ 1.        ,  1.0918958 ,  0.51542886],
       [-1.        ,  1.87685881, -1.08449141],
       [-1.        ,  0.99377543,  1.96990183],
       [-1.        ,  0.89565505, -0.5899706 ],
       [-1.        , -0.4780302 , -0.03727087],
       [-1.        , -0.0855487 ,  2.20261751],
       [-1.        , -1.75359508,  0.3408921 ],
       [ 1.        ,  0.20881242, -0.67723898],
       [ 1.        , -0.28178945, -1.40447546],
       [-1.        , -1.75359508, -0.99722303],
       [-1.        ,  0.6994143 , -0.7354179 ],
       [-1.        , -1.16487283, -0.79359682],
       [-1.        ,  1.97497918,  0.89359183],
       [ 1.        ,  0.20881242, -0.38634438],
       [-1.        ,  0.01257167,  1.21357589],
       [-1.        , -0.0855487 ,  0.28271318],
       [ 1.        ,  1.0918958 , -1.22993871],
       [-1.        , -0.18366908,  0.13726589],
       [-1.        ,  0.3069328 ,  0.04999751],
       [-1.        , -0.28178945, -0.29907601],
       [ 1.        ,  0.50317355,  1.7080967 ],
       [ 1.        ,  0.3069328 ,  0.4863394 ],
       [-1.        ,  0.01257167,  1.24266535],
       [-1.        ,  1.97497918, -1.37538601],
       [ 1.        , -1.16487283, -1.11358087],
       [ 1.        , -0.57615058, -1.5208333 ],
       [ 1.        ,  0.3069328 , -0.53179168],
       [ 1.        , -0.67427095, -1.5208333 ],
       [ 1.        , -0.28178945,  0.51542886],
       [-1.        ,  0.99377543, -1.02631249],
       [ 1.        , -1.06675246,  0.54451832],
       [-1.        , -0.28178945,  0.777234  ],
       [ 1.        ,  0.40505317,  0.07908697],
       [-1.        , -1.65547471, -0.06636033],
       [-1.        ,  0.3069328 ,  0.04999751],
       [-1.        , -0.4780302 , -0.29907601],
       [ 1.        ,  0.11069205,  1.853544  ],
       [-1.        , -0.96863208,  0.39907102],
       [ 1.        ,  0.79753468,  0.51542886],
       [ 1.        , -1.36111358, -0.35725492],
       [-1.        , -0.67427095,  1.38811264],
       [-1.        ,  1.19001618,  0.51542886],
       [-1.        , -1.75359508,  0.3408921 ],
       [-1.        , -0.57615058,  1.88263345],
       [ 1.        , -1.75359508,  0.45724994],
       [ 1.        , -0.28178945, -1.25902817],
       [ 1.        , -0.87051171, -0.79359682],
       [ 1.        , -1.65547471,  0.51542886],
       [ 1.        , -0.28178945, -0.32816546],
       [ 1.        ,  0.6994143 , -1.11358087],
       [ 1.        ,  2.17121993, -0.82268628],
       [ 1.        , -0.28178945,  0.60269724],
       [-1.        , -0.28178945, -0.76450736],
       [-1.        , -1.94983583, -0.76450736],
       [ 1.        ,  0.40505317,  2.28988589],
       [ 1.        ,  0.6994143 ,  0.25362372],
       [-1.        ,  0.20881242, -0.29907601],
       [ 1.        , -1.36111358, -1.37538601],
       [-1.        , -0.4780302 , -0.56088114],
       [-1.        ,  0.40505317, -0.00818141],
       [-1.        ,  1.68061805,  1.73718616],
       [-1.        ,  1.19001618, -0.76450736],
       [-1.        ,  0.99377543,  1.4172021 ],
       [ 1.        , -1.85171546,  0.16635535],
       [-1.        ,  0.3069328 ,  0.04999751],
       [ 1.        ,  0.20881242,  0.02090805],
       [ 1.        , -1.06675246,  0.51542886],
       [-1.        , -0.18366908,  1.62082832],
       [ 1.        , -0.28178945,  0.13726589],
       [ 1.        , -0.28178945, -0.35725492],
       [ 1.        , -0.37990983,  1.30084427],
       [ 1.        , -0.28178945,  0.07908697],
       [-1.        ,  2.17121993,  1.09721805],
       [ 1.        , -1.26299321,  0.4863394 ],
       [-1.        , -1.06675246, -0.47361276],
       [-1.        , -1.65547471, -1.57901222],
       [ 1.        , -0.0855487 ,  0.10817643],
       [ 1.        , -0.28178945, -0.90995465],
       [ 1.        ,  1.58249768, -0.00818141],
       [-1.        ,  0.89565505, -1.17175979],
       [-1.        ,  0.01257167, -0.5899706 ],
       [-1.        , -0.28178945,  2.23170697],
       [-1.        , -0.28178945,  0.19544481],
       [ 1.        ,  0.3069328 ,  0.25362372],
       [-1.        , -0.0855487 , -1.08449141],
       [-1.        ,  2.17121993, -0.70632844],
       [-1.        , -0.96863208, -0.32816546],
       [-1.        , -1.45923396, -0.12453925],
       [ 1.        , -1.45923396, -0.21180763],
       [ 1.        , -0.77239133, -1.54992276],
       [ 1.        , -1.26299321, -1.08449141],
       [-1.        ,  2.07309956,  0.36998156],
       [-1.        ,  1.97497918, -0.93904411],
       [ 1.        , -1.94983583,  0.3408921 ],
       [ 1.        ,  0.79753468, -0.32816546],
       [-1.        , -1.06675246, -1.54992276],
       [-1.        ,  1.97497918, -0.67723898],
       [-1.        ,  0.99377543, -1.17175979],
       [ 1.        ,  1.0918958 , -0.15362871],
       [-1.        ,  1.19001618, -0.99722303],
       [ 1.        ,  1.4843773 ,  0.04999751],
       [ 1.        ,  0.20881242, -0.38634438],
       [-1.        ,  1.38625693,  1.27175481],
       [-1.        ,  2.07309956, -0.82268628],
       [-1.        , -0.18366908, -0.21180763],
       [ 1.        ,  0.40505317,  0.98086021],
       [ 1.        , -0.0855487 , -0.53179168],
       [ 1.        ,  0.99377543, -1.08449141],
       [-1.        ,  2.07309956, -1.20084925],
       [ 1.        , -0.0855487 ,  0.25362372],
       [ 1.        ,  0.20881242, -0.26998655],
       [ 1.        ,  1.0918958 ,  0.10817643],
       [ 1.        , -1.26299321,  0.57360778],
       [ 1.        , -0.77239133, -1.60810168],
       [ 1.        ,  0.20881242,  0.22453427],
       [ 1.        , -1.36111358,  0.39907102],
       [-1.        ,  0.01257167, -0.5899706 ],
       [-1.        ,  0.6994143 ,  1.76627562],
       [ 1.        , -1.65547471,  0.04999751],
       [-1.        , -0.28178945, -1.37538601],
       [ 1.        , -0.28178945, -1.46265438],
       [-1.        , -0.67427095,  0.54451832],
       [ 1.        , -0.77239133,  0.28271318],
       [-1.        ,  0.89565505, -0.67723898],
       [ 1.        , -1.06675246,  0.57360778],
       [-1.        , -0.28178945,  0.04999751],
       [-1.        , -0.77239133,  1.32993372],
       [ 1.        ,  0.11069205,  1.50447048],
       [-1.        , -0.87051171,  0.36998156],
       [-1.        ,  0.3069328 , -0.21180763],
       [ 1.        ,  0.99377543,  0.57360778],
       [ 1.        ,  0.01257167, -0.32816546],
       [ 1.        , -0.57615058, -1.5208333 ],
       [-1.        ,  0.11069205,  0.13726589],
       [ 1.        , -1.16487283,  0.31180264],
       [ 1.        ,  0.11069205,  1.03903913],
       [-1.        , -1.55735433, -0.4445233 ],
       [ 1.        , -0.18366908,  1.38811264],
       [ 1.        ,  2.17121993, -0.82268628],
       [-1.        , -0.96863208, -0.4445233 ],
       [-1.        ,  1.28813655,  1.853544  ],
       [ 1.        ,  1.0918958 , -1.22993871],
       [ 1.        , -0.18366908, -0.29907601],
       [-1.        ,  1.77873843,  0.98086021],
       [-1.        , -1.06675246, -0.35725492],
       [-1.        , -1.36111358, -1.11358087],
       [-1.        , -0.37990983,  0.04999751],
       [ 1.        , -0.96863208, -1.11358087],
       [-1.        ,  1.19001618, -1.46265438],
       [-1.        , -0.4780302 , -0.85177573],
       [-1.        , -0.87051171, -0.67723898],
       [ 1.        , -1.55735433, -1.5208333 ],
       [ 1.        , -0.77239133,  1.88263345],
       [ 1.        ,  0.89565505,  1.00994967],
       [ 1.        ,  0.79753468,  0.25362372],
       [-1.        ,  0.99377543,  1.853544  ],
       [-1.        ,  0.89565505, -0.61906006],
       [-1.        ,  1.0918958 ,  2.05717021],
       [ 1.        , -0.57615058,  0.86450237],
       [ 1.        ,  0.01257167,  0.02090805],
       [-1.        , -1.85171546, -1.28811763],
       [ 1.        , -0.0855487 ,  0.19544481],
       [-1.        ,  0.89565505, -0.56088114],
       [ 1.        ,  0.20881242, -0.38634438],
       [ 1.        , -0.18366908,  1.59173886],
       [ 1.        , -1.75359508,  0.10817643],
       [ 1.        , -0.67427095, -0.35725492],
       [ 1.        ,  0.3069328 , -0.7354179 ],
       [ 1.        ,  0.40505317, -0.47361276],
       [-1.        , -0.96863208, -0.96813357],
       [-1.        ,  0.11069205,  0.07908697],
       [-1.        , -0.96863208,  0.42816048],
       [ 1.        ,  0.01257167, -0.56088114],
       [ 1.        ,  0.89565505, -0.79359682],
       [ 1.        , -0.0855487 ,  0.04999751],
       [-1.        ,  1.0918958 , -0.99722303],
       [ 1.        ,  0.6994143 , -1.40447546],
       [ 1.        , -0.28178945,  0.04999751],
       [-1.        , -1.36111358, -1.25902817],
       [-1.        , -1.16487283, -1.02631249],
       [-1.        ,  0.50317355,  1.82445454],
       [ 1.        ,  0.11069205,  0.19544481],
       [-1.        , -0.57615058,  0.45724994]])

In [28]:
X_train_scalled = pd.DataFrame(data=X_train_scaled, columns=X_train.columns)
X_test_scalled = pd.DataFrame(data=X_test_scaled, columns=X_test.columns)

In [30]:
X_train_scalled

     Gender       Age  EstimatedSalary
0      -1.0 -1.066752        -0.386344
1       1.0  0.797535        -1.229939
2      -1.0  0.110692         1.853544
3      -1.0  0.601294        -0.909955
4      -1.0  1.876859        -1.288118
..      ...       ...              ...
315    -1.0 -1.361114        -1.259028
316    -1.0 -1.164873        -1.026312
317    -1.0  0.503174         1.824455
318     1.0  0.110692         0.195445
319    -1.0 -0.576151         0.457250

[320 rows x 3 columns]

In [33]:
np.round(X_train_scalled.describe(), 2)

       Gender     Age  EstimatedSalary
count   320.0  320.00           320.00
mean      0.0   -0.00             0.00
std       1.0    1.00             1.00
min      -1.0   -1.95            -1.61
25%      -1.0   -0.77            -0.79
50%       0.0   -0.09             0.02
75%       1.0    0.70             0.52
max       1.0    2.17             2.32